<ul class="matchup">
    @if (Team1.Count > 1)
        {
    <li class="first">
        <ul class="matchup">
            <TeamDisplay Team="@Team1[0]" IsFirst="true" IsLast="false" />
            <TeamDisplay Team="@Team1[1]" IsFirst="false" IsLast="true" />
        </ul>
    </li>
        }
        else
        {
    <TeamDisplay Team="@Team1[0]" IsFirst="true" IsLast="false" />
        }
    @if (Team2.Count > 1)
        {
    <li class="last">
        <ul class="matchup">
            <TeamDisplay Team="@Team2[0]" IsFirst="true" IsLast="false" />
            <TeamDisplay Team="@Team2[1]" IsFirst="false" IsLast="true" />
        </ul>
    </li>
       }
        else
        {
    <TeamDisplay Team="@Team2[0]" IsFirst="false" IsLast="true" />
        }
</ul>

@code {
    [Parameter]
    public List<Team> Team1 { get; set; }

    [Parameter]
    public List<Team> Team2 { get; set; }
}
