<li class="@((IsFirst ? "first" : "") + (IsFirst && IsLast ? " " : "") + (IsLast ? "last" : ""))" style="@(BackgroundColor.HasValue ? "background-color:" + System.Drawing.ColorTranslator.ToHtml(BackgroundColor.Value) : "")" id="team-selector-@Team.sCurveRank">@Team.rank. @Team.teamName (@Team.wins - @Team.losses) @if(Team.pickedByPlayer == 0) {  <span class="cost">@Team.cost</span> }</li>

@code {
    [Parameter]
    public bool IsFirst { get; set; }
    [Parameter]
    public bool IsLast { get; set; }
    [Parameter]
    public System.Drawing.Color? BackgroundColor { get; set; }
    [Parameter]
    public Team Team { get; set; }
}
